<script src="/js/app.js"></script>


<h2>Create a new Form</h2>
  <div id='formTemplate'>
    <div id="criteriaFields">
    </div>
  
    <div class="actions">
      <button type="button" id="newElement">Add A new Element</button>
      <button type="button" id="submitEvaluation">Save Template</button>
    </div>
  </div>
  
</body>