
<h2>Create a new Form</h2>
<form action="/forms/create" method="post" class="#">
<dl>
    <dt>
    <label for="document_name">Document Name:</label> 
    </dt>
    <dd>
        <input name="document_name" placeholder="Document Name" type="text" value="">
    </dd>
</dl>

<fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/forms">Cancel</a>
<fieldset>