<div class="rating-container">
  <div class="row">
    <div>
      <p class="page-header">Daily Rating</p>
      <div class="chart-scale">
        <button class="btn btn-scale btn-scale-asc-1">1</button>
        <button class="btn btn-scale btn-scale-asc-2">2</button>
        <button class="btn btn-scale btn-scale-asc-3">3</button>
        <button class="btn btn-scale btn-scale-asc-4">4</button>
        <button class="btn btn-scale btn-scale-asc-5">5</button>
        <button class="btn btn-scale btn-scale-asc-6">6</button>
        <button class="btn btn-scale btn-scale-asc-7">7</button>
        <button class="btn btn-scale btn-scale-asc-8">8</button>
        <button class="btn btn-scale btn-scale-asc-9">9</button>
        <button class="btn btn-scale btn-scale-asc-10">10</button>
        <div>
          <label for="*Current Object*">
          <textarea name="*Current Object*" rows=15 columns=300></textarea>
        </div>
        </label>
      </div>
    </div>
  </div>