<!DOCTYPE HTML>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <title>Goldline Standard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" href="/css/styles.css" >
</head>
<header>
  <h1 id="title"><a href="/">Goldline Standard</a></h1>
  <div id='userNav'>
    <a href="/trainees">Trainees</a>
    <a href="/trainers">Trainers</a>
    <a href="/forms">Forms</a>
  </div>
  <div>
    <a href="/login">Log in</a>
  <div id='admin'>
    <a href="/admin">Admin</a>
  </div>
</header>
<body>
  <%= session[:message] %>
   <%= yield %>
</body>

</html>