<fieldset>
 <form>
    <label for="email">Email </label>
    <input type="text" name="email" id="email" value=<%= params[:email] %>>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    <input type="submit" name=submit
          formaction="/login"
          formmethod="post">
  </form>
</fieldset>